include README.md
include LICENSE
include CHANGELOG.md
include pyproject.toml
include Makefile
recursive-include llama_index *.py
recursive-include tests *.py
global-exclude *.pyc
global-exclude __pycache__
global-exclude .pytest_cache
global-exclude *.egg-info
